experimental   export-ignore
octave         export-ignore
.gitignore     export-ignore
.gitattributes export-ignore

# Special treatment of MATLAB binary files (especially *.MAT)
*.mat -text -diff -merge
*.p   -text -diff -merge
*.slx -text -diff -merge
*.mdl -text -diff -merge

# File difference handling
*.m      diff=matlab
*.[ch]   diff=cpp
*.[ch]pp diff=cpp
