add_remotes.sh      export-ignore
update_subtrees.sh  export-ignore
.gitignore          export-ignore
.gitattributes      export-ignore
.zenodo.json        export-ignore

# Special treatment of MATLAB binary files (especially *.MAT)
*.mat -text -diff -merge
*.p   -text -diff -merge
*.slx -text -diff -merge
*.mdl -text -diff -merge

# File difference handling
*.m      diff=matlab
*.[ch]   diff=cpp
*.[ch]pp diff=cpp
